body {
    background: rgb(17,4,25);
    background: linear-gradient(90deg, rgba(17,4,25,1) 0%, rgba(64,56,71,1) 21%, rgba(1,19,14,1) 100%);
}


/* Header Starts */
.header {
    height: 80px;
    width: 100%;
    background: rgb(17,4,25);
    background: linear-gradient(90deg, rgba(17,4,25,1) 0%, rgba(44,63,80,1) 15%, rgba(1,19,14,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-ul {
    display: flex;
}
.nav-li {
    margin-right: 50px;
}
.nav-li a {
    color: white;
    font-weight: 700;
    font-family: 'roboto';
    font-size: 18px;
}
.nav-li:last-child {
    margin-right: 0;
}
.burger-bar {
    display: none;
}

.burger {
    font-size: 40px;
    display: none;
}



/* Header Ends */

/* Section 1 Starts */

.sec1-div {
    background-image: url(../images/img.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discover-div {
    max-width: 586px;
    width: 100%;
    height: auto;
    text-align: center;

}
.p1-sec1 {
    margin-bottom: 36px;
    font-size: 78px;
    font-weight: 700;
    color: whitesmoke;
}
.p1-sec1:last-child {
    margin-bottom: 0;
    font-size: 20px;
}

/* Section1 Ends */


/* Section 2 Starts */

.div-container {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    margin-top: 75px;
}

.div-text {
    max-width: 240px;
    width: 100%;
    height: auto;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 50px;
}
.div-text h3, h4, p {
    color: grey;
    font-size: 16px;
}
.div-text h3 {
    font-weight: 900;
}
.div-text h4 {
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.div-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 876px;
    width: 100%;
    margin: 0 auto;
}
.box-h2 {
    color: white;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 8px;
}
.box-img {
    width: 100%;
}
.div-1 {
    max-width: 269px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.div-2 {
    max-width: 269px;
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}
.div-3 {
    max-width: 269px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.div-4 {
    max-width: 269px;
    width: 100%;
    height: auto;
}
.div-5 {
    max-width: 269px;
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.div-6 {
    max-width: 269px;
    width: 100%;
    height: auto;
}


/* Section 2 Ends */


/* Section 3 Starts */
.section-3 {
    margin-top: 80px;
}
.div-bg {
    background-image: url(../images/beach.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec3-div {
    max-width: 268px;
    width: 100%;
    height: auto;
    text-align: center;
}
.sec3-h2 {
    font-size: 18px;
    font-weight: 900;
    color: white;
}
.sec3-p {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.div-animation {
    max-width: 280px;
    width: 100%;
    height: 50px;
    background-color: #24D2FE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-top: 15px;
    transition-property: all;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    transition-duration: 0.8s;
    font-size: 30px;
}
.div-animation:hover {
    background-color: #b84dff;
    color:#24D2FE ;
}
.p-animation {
    font-size: 30px;
    font-weight: 900;
    margin-left: 25px;
}
.animation-a:hover {
    color: black;
}
.animation-a {
    color: white;
    transition-property: all;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    transition-duration: 0.8s;
}


/* Section 3 ends */

/* Section 4 Starts */

.section-4 {
    margin-top: 60px;
}
.sec4-container {
    background: rgb(5,29,36);
    background: linear-gradient(90deg, rgba(5,29,36,1) 0%, rgba(78,215,181,1) 43%, rgba(3,23,22,1) 100%);
    width: 100%;
    height: 205px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 40%;
}
.sec4-div {
    max-width: 155px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec4-span {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sec4-p {
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
}
.sec4-div2 {
    max-width: 155px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}
.sec4-div3 {
    max-width: 155px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}
.sec4-div4 {
    max-width: 155px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Section 4 Ends */


/* Section 5 starts */

.section-5 {
    margin-top: 80px;
}
.sec5-container {
    width: 100%;
    height: 492px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(17,4,25);
    background: linear-gradient(90deg, rgba(17,4,25,1) 0%, rgba(44,63,80,1) 15%, rgba(1,19,14,1) 100%);
}
.sec5-textdiv {
    max-width: 267px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sec5-h4 {
    font-size: 18px;
    color: grey;
    font-weight: 500;
    margin-bottom: 10px;
}
.sec5-h2 {
    font-size: 26px;
    font-weight: 600;
}
.sec5-divbox {
    max-width: 863px;
    width: 100%;
    height: 358px;
    display: flex;
    margin-top: 70px;
}
.divbox-div1 {
    max-width: 267px;
    width: 100%;
    height: 358px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec5-p {
    margin-top: 10px;
    font-size: 14px;
    color: grey;
}
.sec5-h2-2 {
    font-size: 18px;
    margin-top: 10px;
    color: #b84dff;
}
.divbox-div1:nth-child(2) {
    margin-left: 31px;
    margin-right: 31px;
}


/* Section 5 ends */

/* Section 6 starts */

.section-6 {
    margin-top: 80px;
}
.div-map {
    width: 90%;
    height: 435px;
    margin: 0 auto;
}
.map {
    width: 100%;
}


/* Section 6 ends */


/* Section 7 starts */

.section-7 {
    margin-top: 100px;
}
.sec7-container {
    max-width: 1088px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-text {
    max-width: 250px;
    width: 100%;
    height: 100px;
    /* background-color: #24D2FE; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.register-p {
    font-size: 40px;
    font-weight: 900;
    color: white;
}
.divbox-form {
    max-width: 1088px;
    width: 100%;
    height: 700px;
    background: rgb(5,29,36);
    background: linear-gradient(90deg, rgba(5,29,36,1) 0%, rgba(78,215,181,1) 43%, rgba(3,23,22,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;    
    border-radius: 30px;
}
.div-form1 {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.input-name {
    width: 100%;
    height: 100px;
    background: rgb(57,109,175);
    background: linear-gradient(90deg, rgba(57,109,175,1) 0%, rgba(150,127,119,1) 48%, rgba(48,125,136,1) 100%);
    border: none;
    border-bottom: 1px solid #b84dff;
    font-size: 20px;
    color: black;
}
.input-name::placeholder {
    font-size: 20px;
    color: #f6f1ef;
}
.div2-form1 {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.input-lastname {
    width: 100%;
    height: 100px;
    background: rgb(57,109,175);
    background: linear-gradient(90deg, rgba(57,109,175,1) 0%, rgba(150,127,119,1) 48%, rgba(48,125,136,1) 100%);
    border: none;
    border-bottom: 1px solid #b84dff;
    font-size: 20px;
}
.input-lastname::placeholder {
    font-size: 20px;
    color: #f6f1ef;
}
.div3-form1 {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.input-password {
    width: 100%;
    height: 100px;
    background: rgb(57,109,175);
    background: linear-gradient(90deg, rgba(57,109,175,1) 0%, rgba(150,127,119,1) 48%, rgba(48,125,136,1) 100%);
    border: none;
    border-bottom: 1px solid #b84dff;
    font-size: 20px;
}
.input-password::placeholder {
    font-size: 20px;
    color: #f6f1ef;
}

.div4-form1 {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.input-email {
    width: 100%;
    height: 100px;
    background: rgb(57,109,175);
    background: linear-gradient(90deg, rgba(57,109,175,1) 0%, rgba(150,127,119,1) 48%, rgba(48,125,136,1) 100%);
    border: none;
    border-bottom: 1px solid #b84dff;
    font-size: 20px;
}
.input-email::placeholder {
    font-size: 20px;
    color: #f6f1ef;
}
.label {
    color: #f1ebec;
    font-size: 18px;
    margin-bottom: 7px;
}
.form-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register {
    width: 100%;
    height: 100px;
    font-size: 50px;
    font-weight: 700;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: none;
    border-radius: 0 0 30px 30px;
}
.register:focus {
    outline: none;
}

/* Section 7 ends */

/* footer starts */

.footer {
    width: 100%;
    height: 500px;
    background-color: black;
}
.footer-container {
    width: 100%;
    height: 350px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-div {
    max-width: 222px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.footer-h4 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}
.footer-p {
    font-size: 15px;
    color: white;
    margin-bottom: 12px;
}
.footer-box {
    max-width: 666px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.footer-a {
    font-size: 15px;
    color: white;
}
.fa-solid {
    color:#5863F8;
    margin-right: 8px;
}
.fa-phone-plus {
    color: white;
}
.footer-formdiv {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: flex;

}
.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-input {
    width: 100%;
    height: 80px;
    background: rgb(246,242,242);
    background: radial-gradient(circle, rgba(246,242,242,1) 0%, rgba(233,148,160,1) 100%);
    border: none;
    border-bottom: 1px solid #b84dff;
    font-size: 20px;
    margin-top: 25px;
    border-radius: 30px 30px 0 0;
}
.footer-input::placeholder {
    color: black;
}
.footer-label {
    color: white;
    font-size: 42px;
}
.subscribe-btn {
    width: 100%;
    height: 100px;
    font-size: 50px;
    font-weight: 700;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: none;
    border-radius: 0 0 30px 30px;
}
.footer-line {
    width: 100%;
    height: 1px;
    background-color: #24D2FE;
    margin-top: 20px;
    margin-bottom: 30px;

}
.last-fdiv {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last-p {
    font-size: 20px;
    font-weight: 100;
    color: white;
}







/* footer ends */